base_config:
  dry_run: True
  delete_tmp_file: False
  tmp_folder: '/tmp'
  passphrase: 'verysecure'
  log_file: 'monitor.log'
  log_level: DEBUG

lark_config:
  webhook: https://oapi.zjurl.cn/open-apis/bot/hook/xxxxxxxx

sql_config:
  - host: localhost
    database: wehomeInvest
    tables:
      - wehome_order
      - wehome_project_share
      - wehome_project_member
      - partner_commission
      - transaction_history
      - income_detail
      - referral_tracking
    username: root
    password: ''
    interval: 10
    interval_unit: minute
    expired: 2
